.light-btn {
    font-family: var(--header-font);
    background-color: white;
    border-color: black;
}

.light-btn:hover {
    background-color: var(--table-secondary);
    transition: 0.4s;
    transform: scale(1.04);
}

.light-btn-2 {
    font-family: var(--general-font);
    background-color: white;
    border-color: black;
}

.light-btn-2:hover {
    background-color: var(--table-secondary);
    transition: 0.4s;
    transform: scale(1.04);
}

.dark-btn {
    font-family: var(--general-font);
    background-color: var(--project-background);
    border-color: black;
}

.dark-btn:hover {
    background-color: var(--secondary-background);
    transition: 0.4s;
    transform: scale(1.04);
}

.logged-in {
    background-color: var(--secondary-background);
    padding: 20px 50px 0 23%;
    min-height: 100vh;
}

.logged-out{
    background-color: var(--project-background);
    display: flex;
    min-height: 100vh;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.in-header {
    font-family: var(--header-font);
    font-size: 50px;
    font-weight: 400;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

table {
    border: 3px solid black;
    font-family: var(--general-font);
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}

th {
    border: none;
    padding: 5px;
}

td {
    padding: 5px;
}

.table-header-row {
    background: var(--project-background);
    font-weight: 600;
    font-size: 25px;
}

.table-data-row {
    font-weight: 500;
    font-size: 25px;
    padding: 5px 0;
}

.table-data-row:nth-child(2n) {
    background: var(--secondary-background);
}

.table-data-row:nth-child(2n+1) {
    background: var(--table-secondary);
}
