.light-btn {
    font-family: var(--header-font);
    background-color: white;
    border-color: black;
}

.light-btn:hover {
    background-color: var(--table-secondary);
    transition: 0.4s;
    transform: scale(1.04);
}

.logged-in {
    background-color: var(--secondary-background);
    padding: 20px 50px 0 23%;
    min-height: 100vh;
}

.logged-out{
    background-color: var(--project-background);
    display: flex;
    min-height: 100vh;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.in-header {
    font-family: var(--header-font);
    font-size: 50px;
    font-weight: 400;
    border-bottom: 3px solid black;
}
