body {
  margin: 0;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --project-background: #D8D8D8;
    --secondary-background: #FFFFFF;
    --table-secondary: #EEEEEE;
    --header-font: Pridi;
    --general-font: OpenSans;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Pridi;
    src: url(./fonts/Pridi-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Pridi;
    src: url(./fonts/Pridi-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Pridi;
    src: url(./fonts/Pridi-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Pridi;
    src: url(./fonts/Pridi-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Pridi;
    src: url(./fonts/Pridi-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Pridi;
    src: url(./fonts/Pridi-Bold.ttf);
    font-weight: 700;
}
