.input-field {
}

.input-label {
    display: block;
    font-family: var(--general-font);
    margin: 0 0 10px;
}

.input {
    width: 100%;
    font-family: var(--general-font);
    padding: 5px 10px;
    margin: 0 0 25px;
}
