.navbar {
    width: 18%;
    position: fixed;
    left: 0;
    height: 100vh;
    background: var(--project-background);
    box-shadow: 1px 1px 8px 1px #AAA;
    display: flex;
    flex-direction: column;
    padding: 1% 0 0 2%;
    z-index: 100;
}

.navlink {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--general-font);
    font-size: 22px;
    margin: 0 0 10px;
}

.navlink:hover {
    color: #555555;
}

.navlink-active {
    text-decoration: underline;
    color: black;
}

.navlink-active:hover {
    color: black;
}

.navbar-title {
    color: black;
    font-family: var(--header-font);
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 45px;
}

/* Nav Summary */
.nav-summary {
    margin: 30px 0 30px;
}

.navbar-summary {
    font-family: var(--header-font);
    color: black;
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 400;
}

.nav-detail-title {
    font-family: var(--general-font);
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.nav-detail-value {
    font-family: var(--general-font);
    color: black;
    font-size: 18px;
    margin-left: 1.5em;
    margin-bottom: 20px;
}
