/* Logged Out Extra Small */
.title {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    font-family: var(--header-font);
}

.sub-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto 40px;
    font-family: var(--general-font);
}

.logged-out-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logged-out-buttons {
    font-size: 25px;
    margin: 15px 0;
    padding: 5px 30px;
}

.or-text {
    font-family: var(--general-font);
    display: block;
    text-align: center;
    font-size: 20px;
}

/* Login Medium Screen */
@media only screen and (min-width: 768px) {
    .title {
        font-size: 130px;
        font-weight: 500;
        margin: 0;
    }

    .sub-title {
        font-size: 35px;
        font-weight: 400;
        margin: 0 0 40px;
    }

    .logged-out-button-div {
        display: flex;
        flex-direction: row;
    }

    .logged-out-buttons {
        font-size: 40px;
        margin: 0 30px;
        padding: 5px 30px;
    }

    .or-text {
        display: inline;
        font-size: 30px;
    }
}


/* Logged In */
.table-title-div {
    display: flex;
    margin: 10px 0;
}

.table-title {
    font-family: var(--header-font);
    font-size: 35px;
}

.table-add-div {
    margin-left: auto;
}

.table-add {
    font-size: 18px;
    padding: 2px 20px;
    margin-top: 15px;
}

.portfolio-add {
    font-size: 25px;
    padding: 5px 30px;
}

.portfolio-link {
    color: black;
    text-decoration: none;
}

.portfolio-link:hover {
    color: #666;
    text-decoration: underline;
    transition: 0.4s;
}

@media only screen and (min-width: 1200px) {
    .table-title {
        font-size: 40px;
    }

    .table-add {
        font-size: 22px;
        margin-top: 15px;
    }
}