.table-header-portfolio th{
    font-size: 22px !important;
}

.table-data-portfolio td{
    font-size: 20px !important;
}

.portfolio-delete {
    font-size: 20px !important;
}

.note-text {
    font-family: var(--general-font);
    font-size: 15px;
    padding-bottom: 20px;
}
