/* Header */
.dividend-add {
    font-size: 25px;
    font-weight: 500;
    padding: 5px 15px;
}

.dividend-add-div {
    margin-left: auto;
}

/* Div Nav */
.dividend-nav {
    margin-bottom: 40px;
}

.div-nav-btn {
    font-size: 22px;
    font-family: var(--general-font);
    font-weight: 500;
    padding: 5px 15px;
    background: white;
    border: 1px solid black;
    border-left: none;
}

.div-nav-btn:hover {
    background: var(--table-secondary);
    transition: 0.4s;
}

.div-nav-btn:focus {
    outline: none;
}

.div-nav-btn:first-child {
    border-left: 1px solid black !important;
}

.div-nav-active {
    background: var(--project-background);
}

.div-nav-active:hover {
    background: var(--project-background);
}

/* Div Summary */
.div-summary-title {
    font-size: 35px;
    font-family: var(--header-font);
    font-weight: 500;
    margin: 0 0 10px;
}

.div-summary-value {
    margin-left: 1.5em;
    font-size: 25px;
    font-family: var(--general-font);
    margin-bottom: 30px;
}

.div-summary-loading {
    font-size: 50px;
    font-family: var(--general-font);

}

/* Graph View */
.graph-title {
    font-family: var(--header-font);
    font-size: 30px;
    text-align: center;
}

.filters {
    margin-bottom: 20px;
}

.graph-label {
    display: inline-block !important;
    margin: 0 10px 0 0;
    font-size: 20px;
}

.graph-select {
    font-size: 20px;
    font-family: var(--general-font);
    margin-right: 20px;
    padding: 0 5px;
}

/* Dividend Modal */
.ticker-select {
    font-size: 20px;
    font-family: var(--general-font);
    width: 100%;
    margin: 0 0 25px;
    padding: 5px 10px;
}
